<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap18="http://schemas.microsoft.com/appx/manifest/uap/windows10/18"
  IgnorableNamespaces="uap mp uap18">

	<Identity
	  Name="63350Murbong.19236D0AFA751"
	  Publisher="CN=A3FE52EE-384E-474F-A60F-409D30A5F742"
	  Version="1.3.2.0" />

	<mp:PhoneIdentity PhoneProductId="0b47bc53-34c7-4179-825f-20d01bd7a5ab" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>MurbongCrosshair</DisplayName>
		<PublisherDisplayName>Murbong</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.22621.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="MurbongCrosshair.App" uap18:RuntimeBehavior="windowsApp">
			<uap:VisualElements
			  DisplayName="MurbongCrosshair"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  Description="CS2 Crosshair Emulator by Murbong"
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<uap3:Extension Category="windows.appExtension">
					<uap3:AppExtension Name="microsoft.gameBarUIExtension"
									   Id="Widget1"
									   DisplayName="MurbongCrosshair"
									   Description="MurbongCrosshair  With GameBar"
									   PublicFolder="GameBar">
						<uap3:Properties>
							<GameBarWidget Type="Standard">
								<HomeMenuVisible>true</HomeMenuVisible>
								<PinningSupported>true</PinningSupported>
								<SettingsSupported AppExtensionId="Widget1Settings" />
								<ActivateAfterInstall>false</ActivateAfterInstall>
								<Window>
									<AllowForegroundTransparency>true</AllowForegroundTransparency>
									<Size>
										<Height>130</Height>
										<Width>410</Width>
									</Size>
									<ResizeSupported>
										<Horizontal>false</Horizontal>
										<Vertical>false</Vertical>
									</ResizeSupported>
								</Window>
							</GameBarWidget>
						</uap3:Properties>
					</uap3:AppExtension>
				</uap3:Extension>

				<uap3:Extension Category="windows.appExtension">
					<uap3:AppExtension Name="microsoft.gameBarUIExtension"
									   Id="Widget1Settings"
									   DisplayName="MurbongCrosshair Settings"
									   Description="MurbongCrosshair Settings"
									   PublicFolder="Widget1">
						<uap3:Properties>
							<GameBarWidget Type="Settings">
								<Window>
									<Size>
										<MinHeight>300</MinHeight>
										<MinWidth>300</MinWidth>
									</Size>
									<ResizeSupported>
										<Horizontal>true</Horizontal>
										<Vertical>true</Vertical>
									</ResizeSupported>
								</Window>
							</GameBarWidget>
						</uap3:Properties>
					</uap3:AppExtension>
				</uap3:Extension>

			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
	</Capabilities>
</Package>